# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Flutter Breakpoint'
      'command': 'flutter-toolkit:toggle-breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Flutter ToolKit'
      'submenu': [
        {
          'label': 'Debug/Resume...'
          'command': 'flutter-toolkit:debugger-start-resume'
        },
        {
          'label': 'Stop'
          'command': 'flutter-toolkit:debugger-stop'
        },
        {
          'label': 'Toggle Breakpoint'
          'command': 'flutter-toolkit:toggle-breakpoint'
        }
      ]
    ]
  }
]
