# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Flutter Breakpoint'
      'command': 'flutter-toolkit:toggle-breakpoint'
    }
  ]
'menu': [
  {
    'label': 'Flutter'
    'submenu': [
        {
          'label': 'Debug/Resume...'
          'command': 'flutter-toolkit:debugger-start-resume'
        }
        {
          'label': 'Stop'
          'command': 'flutter-toolkit:debugger-stop'
        }
        {
          'label': 'Step'
          'command': 'flutter-toolkit:debugger-step'
        }
        {
          'label': 'Step In'
          'command': 'flutter-toolkit:debugger-step-in'
        }
        {
          'label': 'Step Out'
          'command': 'flutter-toolkit:debugger-step-out'
        }
        {
          'label': 'Toggle Breakpoint'
          'command': 'flutter-toolkit:toggle-breakpoint'
        }
        {type: 'separator'}
        {
          'label': 'Install FlutterShell.apk to device...'
          'command': 'flutter-toolkit:install-apk'
        }
      ]

  }
]
