# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'f5': 'flutter-toolkit:debugger-start-resume'
  'shift-f5': 'flutter-toolkit:debugger-stop'
  'f9': 'flutter-toolkit:toggle-breakpoint'
  'f10': 'flutter-toolkit:debugger-step'
  'f11': 'flutter-toolkit:debugger-step-in'
  'f12': 'flutter-toolkit:debugger-step-out'
